body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.app {
    text-align: center;
    padding: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.profile-card {
    width: 250px;
    background-color: white;
    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-image {
    width: 120px;
    height: 120px;

    border-radius: 50%;

    object-fit: cover;
}

.profile-card h2 {
    margin-top: 15px;
}

.profile-card p {
    color: #555;
    line-height: 1.5;
}